<% title "Home Page" %>
<div id="site-banner">
		<div class="welcome-banner " style="">
			<div class="banner-layer container-fluid">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center" >
						<a class="logo" href="/" ><img class="" src="/images/logo-lg-w.png" alt="logo" data-reactid="13"></a>
						<h4 class="title" data-reactid="14">QUR'AN IN KANNADA</h4>
					</div>
				</div>

    		</div>
		</div>
	</div>
<div class="content-body container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h4 class="line-text"><span >SURAHS (CHAPTERS)</span></h4>
			<div class="row chapter-list">
				<ul class="col-md-6 list-unstyled ">
					<%@first_half_chapters.each do |chap|%>
						<li>
							<a href="/<%=chap.number%>" class="row chap-a">
								<div class="col-xs-1"><%=chap.number%></div>
								<div class="col-xs-4"><%=chap.title_en%></div>
								<div class="col-xs-4"><%=chap.title_kn%></div>
								<div class="col-xs-3 chap-ar"><span class="icon-surah<%=chap.number%> icon-surah"></span></div>
								<div class="col-xs-4 chap-ten col-xs-offset-1"><%=chap.title_trans_en.capitalize%></div>
								<div class="col-xs-7 chap-tkn"><%=chap.title_trans_kn%></div>
							</a>
						</li>
					<%end%>
				</ul>
				<ul class="col-md-6 list-unstyled ">
					<%@second_half_chapters.each do |chap|%>
						<li>
							<a href="/<%=chap.number%>" class="row chap-a">
								<div class="col-xs-1"><%=chap.number%></div>
								<div class="col-xs-4"><%=chap.title_en.capitalize%></div>
								<div class="col-xs-4"><%=chap.title_kn%></div>
								<div class="col-xs-3 chap-ar"><span class="icon-surah<%=chap.number%>"></span></div>
								<div class="col-xs-4 chap-ten col-xs-offset-1"><%=chap.title_trans_en.capitalize%></div>
								<div class="col-xs-7 chap-tkn"><%=chap.title_trans_kn%></div>
							</a>
						</li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>
</div>
