<% title @chapter.title_kn+" - "+@chapter.title_ar %>
<div class="content-body container-fluid">
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<!-- <% content_for :chapter_navigator do %>
			<%= render "shared/header_chapter_navigator" %>
		<% end %> -->
		<div class="row" id="chapter-title">
			<div class="col-xs-12 col-sm-2">
				<div class="title-eng"><%=@chapter.title_en%> (<%=@chapter.title_trans_en.capitalize%>)</div>
			</div>
			<div class="col-xs-12 col-sm-8">
				<!-- <div class="title-ar"><%=@chapter.title_ar%></div> -->
				<div class="title-ar"><span class="icon-surah icon-surah<%=@chapter.number%>"></span></div>
				<div class="title-kn"><%=@chapter.number%>. <%=@chapter.title_kn%>(<%=@chapter.title_trans_kn%>)</div>
			</div>
		</div>

		<div class="verses chapter-<%=@chapter.number%>" id="chapter-verses">
			<%if (@chapter.number != 1)%>
				<div class="verse">
				<div id="bismillah" class="bismillah text-center word-font" title="بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ" style="text-align: center;">﷽</div>
				<div id="bismillah-kan">ಅಲ್ಲಾಹನ ಹೆಸರಿಂದ - ಅವನು ಅಪಾರ ದಯಾಳು, ಕರುಣಾಮಯಿ.</div>
			</div>
			<%end%>
			<%@all_verses.each do |verse|%>
				<div class="verse row" id="verse-no-<%=verse.number%>">
					<div class="col-md-1 col-sm-1">
						<div class="verse-no"><%=@chapter.number%>:<%=verse.number%></div>
						<%= link_to "View", chapter_verse_path(@chapter.id,verse.number), class: "verse-btn"%>
					</div>
					<div class="col-md-11 col-sm-11">
						<div class="verse-content arabic">
							<%=verse.content%>
							<span class="ayah-period">۞</span>
							<!-- <span class="verse-number"></span> -->
						</div>
						<div class="verse-translation"><%=verse.translation.content%></div>
					 </div>
				</div>
			<%end%>
		</div>
		<script>
		$( document ).ready(function() {
			setTimeout(function() {
					$('#bismillah').css({"font-size":"35px"});
			}, 10);
		});

		</script>
	</div>
</div>
</div>
