<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ಕನ್ನಡದಲ್ಲಿ ಕುರ್‌ಆನ್ <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="EN; AR" />
    <meta data-react-helmet="true" name="keywords" content="quran, kannada,quran in kannada, kannada quran,Abdussalam Puthige qur&#x27;an, kareem, قران, القرآن, قران كريم, القران الكريم, surah, yasin, yaseen, kahf, mulk, rahman, islam, Allah"/>
    <meta property="og:title" content="Quran in Kannada">
    <meta property="og:description" content="Quran in Kannada"/>
    <meta property="og:url" content="<%= request.original_url %>"/>
    <meta property="og:image" content="https://quran-kannada.herokuapp.com/images/QuranKannadaLogoSmall.png"/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <title>Qrnsite</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="/images/logo.png" />

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/sharetastic.css">

    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!--     <link rel="stylesheet" href="/css/slidebars.css">
 -->    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= yield :page_links %>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script src="/js/slidebars.js"></script> -->
    <script src="/js/site.js"></script>
    <script src="/js/sharetastic.js"></script>
  </head>

  <body>
    <div id="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-content" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag("/images/QuranKannadaLogoSmall.png", border: 0, id: "header-logo-img"), welcome_index_path(),{class: "navbar-brand", "data-turbolinks": "false"} %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-content">
            <!-- <%= content_for :chapter_navigator%> -->
        			<%= render "shared/header_chapter_navigator" %>
            <!-- <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> -->

            <ul class="nav navbar-nav">
              <li><%= link_to "ಪರಿಚಯ", intro_path(),{"data-turbolinks": "false"} %></li>
              <li><%= link_to "ಮಾಹಿತಿಗಳು", info_path(),{"data-turbolinks": "false"} %></li>
              <li><%= link_to "ಪ್ರಕಾಶಕರ ಅರಿಕೆ", publisher_path(),{"data-turbolinks": "false"} %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <%if logged_in? %>
              <!-- <li>
                <a href="/admin"  class="" id="admin-button">
                  <span class=""><span>Admin Panel</span></span>
                </a>
              </li> -->
              <li>
                <a href="/logout" class="" id="logout">
                  <span class=""><span>Logout</span></span>
                </a>
              </li>
              <% end %>
              <!-- <li>
                <a class="" id="site-settings">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  <span class=""><span>Settings</span></span>
                </a>
              </li> -->
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div id="page-content">
      <%= yield %>
    </div>

    <div>
      <a href="#" id="back-to-top" style="display: none;" title="Back to Top"><span></span></a>
    </div>
    <div id="footer">
      <ul class="items">
          <li><a class="footer-1" href="#header">About-us</a></li>
          <li><a class="footer-2" href="#header">Contact-us</a></li>
          <li><a class="footer-3" href="https://play.google.com/store/apps/details?id=com.nzymic.kquran&hl=en_US&gl=US">Mobile App</a></li>
          <li><a class="footer-4" href="/Kannada-Quran-Pdf.html">Pdf Copy</a></li>
      </ul>
      <div id="cp-right">
      <p>© 2020 Quran In Kannada</p>
      </div>
    </div>
    <%= render "shared/header_settings_panel" %>
  </body>
</html>
